* {
  font-family: "Lato", sans-serif;
}

.NoteSpace--wrapper {
}

.NoteSpace--wrapper .DraftEditor-root {
  background-color: #fffef7;
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
  height: 300px;
  overflow-y: scroll;
  padding: 20px;
  font-size: 18px;
  font-family: "calibri", sans-serif;
}

.NoteSpace--wrapper .DraftEditor-editorContainer {
}

.NoteSpace--wrapper .toolbar {
  width: 80%;
  background-color: lightsteelblue;
  padding: 10px 20px;
  margin: auto;
  top: 45px;
  text-align: right;
}

.NoteSpace--wrapper .toolbar button {
  border: 1px solid black;
  padding: 5px;
  margin-right: 4px;
  background-color: black;
  color: white;
}
